<div>
  <h2 id="page-heading" data-cy="TehditHeading">
    <span jhiTranslate="bgysApp.tehdit.home.title">Tehdits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bgysApp.tehdit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tehdit"
        [routerLink]="['/tehdit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bgysApp.tehdit.home.createLabel"> Create a new Tehdit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tehdits?.length === 0">
    <span jhiTranslate="bgysApp.tehdit.home.notFound">No tehdits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tehdits && tehdits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="adi"><span jhiTranslate="bgysApp.tehdit.adi">Adi</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="aciklama">
            <span jhiTranslate="bgysApp.tehdit.aciklama">Aciklama</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="onayDurumu">
            <span jhiTranslate="bgysApp.tehdit.onayDurumu">Onay Durumu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="kategori.adi">
            <span jhiTranslate="bgysApp.tehdit.kategori">Kategori</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tehdit of tehdits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tehdit', tehdit.id, 'view']">{{ tehdit.id }}</a>
          </td>
          <td>{{ tehdit.adi }}</td>
          <td>{{ tehdit.aciklama }}</td>
          <td jhiTranslate="{{ 'bgysApp.Onay.' + tehdit.onayDurumu }}">{{ tehdit.onayDurumu }}</td>
          <td>
            <div *ngIf="tehdit.kategori">
              <a [routerLink]="['/tehdit-kategorisi', tehdit.kategori?.id, 'view']">{{ tehdit.kategori?.adi }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tehdit', tehdit.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/tehdit', tehdit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tehdit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tehdits && tehdits.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
