<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-risk-heading" data-cy="RiskCreateUpdateHeading" jhiTranslate="bgysApp.risk.home.createOrEditLabel">
        Create or edit a Risk
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bgysApp.risk.adi" for="field_adi">Adi</label>
          <input type="text" class="form-control" name="adi" id="field_adi" data-cy="adi" formControlName="adi" />
          <div *ngIf="editForm.get('adi')!.invalid && (editForm.get('adi')!.dirty || editForm.get('adi')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('adi')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bgysApp.risk.aciklama" for="field_aciklama">Aciklama</label>
          <input type="text" class="form-control" name="aciklama" id="field_aciklama" data-cy="aciklama" formControlName="aciklama" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bgysApp.risk.onayDurumu" for="field_onayDurumu">Onay Durumu</label>
          <select class="form-control" name="onayDurumu" formControlName="onayDurumu" id="field_onayDurumu" data-cy="onayDurumu">
            <option [ngValue]="null">{{ 'bgysApp.Onay.null' | translate }}</option>
            <option *ngFor="let onay of onayValues" [value]="onay">{{ 'bgysApp.Onay.' + onay | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="bgysApp.risk.varlik" for="field_varliks">Varlik</label>
          <select class="form-control" id="field_varliks" data-cy="varlik" multiple name="varliks" formControlName="varliks">
            <option
              [ngValue]="getSelectedVarlik(varlikOption, editForm.get('varliks')!.value)"
              *ngFor="let varlikOption of varliksSharedCollection; trackBy: trackVarlikById"
            >
              {{ varlikOption.adi }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
