<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="birim">
      <h2 data-cy="birimDetailsHeading"><span jhiTranslate="bgysApp.birim.detail.title">Birim</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bgysApp.birim.id">Id</span></dt>
        <dd>
          <span>{{ birim.id }}</span>
        </dd>
        <dt><span jhiTranslate="bgysApp.birim.adi">Adi</span></dt>
        <dd>
          <span>{{ birim.adi }}</span>
        </dd>
        <dt><span jhiTranslate="bgysApp.birim.soyadi">Soyadi</span></dt>
        <dd>
          <span>{{ birim.soyadi }}</span>
        </dd>
        <dt><span jhiTranslate="bgysApp.birim.ustBirim">Ust Birim</span></dt>
        <dd>
          <div *ngIf="birim.ustBirim">
            <a [routerLink]="['/birim', birim.ustBirim?.id, 'view']">{{ birim.ustBirim?.adi }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/birim', birim.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
