<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-is-akisi-heading" data-cy="IsAkisiCreateUpdateHeading" jhiTranslate="bgysApp.isAkisi.home.createOrEditLabel">
        Create or edit a Is Akisi
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="bgysApp.isAkisi.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bgysApp.isAkisi.konu" for="field_konu">Konu</label>
          <input type="text" class="form-control" name="konu" id="field_konu" data-cy="konu" formControlName="konu" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bgysApp.isAkisi.aciklama" for="field_aciklama">Aciklama</label>
          <input type="text" class="form-control" name="aciklama" id="field_aciklama" data-cy="aciklama" formControlName="aciklama" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bgysApp.isAkisi.sonTarih" for="field_sonTarih">Son Tarih</label>
          <div class="input-group">
            <input
              id="field_sonTarih"
              data-cy="sonTarih"
              type="text"
              class="form-control"
              name="sonTarih"
              ngbDatepicker
              #sonTarihDp="ngbDatepicker"
              formControlName="sonTarih"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="sonTarihDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bgysApp.isAkisi.personel" for="field_personel">Personel</label>
          <select class="form-control" id="field_personel" data-cy="personel" name="personel" formControlName="personel">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="personelOption.id === editForm.get('personel')!.value?.id ? editForm.get('personel')!.value : personelOption"
              *ngFor="let personelOption of personelsSharedCollection; trackBy: trackPersonelById"
            >
              {{ personelOption.adi }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
