<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="surec">
      <h2 data-cy="surecDetailsHeading"><span jhiTranslate="bgysApp.surec.detail.title">Surec</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bgysApp.surec.id">Id</span></dt>
        <dd>
          <span>{{ surec.id }}</span>
        </dd>
        <dt><span jhiTranslate="bgysApp.surec.adi">Adi</span></dt>
        <dd>
          <span>{{ surec.adi }}</span>
        </dd>
        <dt><span jhiTranslate="bgysApp.surec.aciklama">Aciklama</span></dt>
        <dd>
          <span>{{ surec.aciklama }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/surec', surec.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
